<h4 class="center">Admin Panel // Bookings</h4>
<%- include ('partials/adminnav') %>
<%- include ('partials/messages') %>


<% if(bookings) { %>
    <% if(bookings.length === 0) { %>
        <h4 class="center">No Bookings Have Been Made At This Time</h4>
    <% } %>
    <% bookings.forEach(booking => { %>
        <div class="row">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Phone</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Seats</th>
                    <th>Secret</th>
                    <th>Verified</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td><p><%= booking.customer_ID %></p></td>
                    <td><p><%= booking.customer_Phone_Number %></p></td>
                    <td><p><%= booking.origin %></p></td>
                    <td><p><%= booking.destination %></p></td>
                    <td><p><%= booking.travel_Date %></p></td>
                    <td><p><%= booking.departure_Time %></p></td>
                    <td><p><%= booking.no_Of_Seats %></p></td>
                    <td><p><%= booking.customer_Secret %></p></td>
                    <td><p><%= booking.is_Verified %></p></td>
                    <td><a  onclick="window.location='/admin/verify/<%= booking._id%>';" style="cursor: pointer;" ><i class="material-icons">check_circle</i>Verify</a></td>
                    <td><p><a onclick="window.location='/admin/delete/<%= booking._id%>';" style="cursor: pointer;"><i class="material-icons">delete_forever</i>Delete</a></td>
                </tr>
            </table>
        </div>
        
    <% }) %>
<% } %>